# FastAPI + server
fastapi
uvicorn

# GraphRAG Toolkit
graphrag-lexical-graph==3.18.3

# GraphRAG dependencies
anthropic-bedrock
llama-index-core
llama-index-embeddings-bedrock
llama-index-llms-anthropic
llama-index-llms-bedrock-converse
python-dotenv
smart_open
spacy
